/* IMPORTA LA FONT Poppins DE Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html { 
    height: -webkit-fill-available; 
}


/* ESTIL APLICAT A TOT EL BODY */
body {
    display: flex;    
    flex-direction: column;    
    justify-content: space-between;    
    min-height: 100vh;     
    min-height: 100svh;    
    min-height: -webkit-fill-available;    
    margin: 0px;   
    font-family: "Poppins", sans-serif;   
    background-color: #d8d8d8;    
}


/* ESTIL PER AL MENU ALUMNAT */
#menu {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: #1088f8; 
  color: white; 
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding: 20px; 
  box-sizing: border-box;
  z-index: 999;
}
#menu i {
  font-size: 35px; 
  cursor: pointer;
  text-align: center; 
}
.optionmenu1 {
  text-align: center;
  margin-top: 5px; 
}
.optionmenu1 p {
  font-size: 13px;
  font-weight: 500; 
  margin: 0;
}


/* ESTIL PER AL MENU PROFESORAT */
#menuprof {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #1088f8; 
    color: white; 
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box;
    z-index: 999; 
}
#menuprof i {
    font-size: 40px; 
    cursor: pointer; 
}
#exit {
    color: #f83030; 
}


/* ESTIL APLICAT A TOTES LES SECCIONS */
.seccio {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}



/* ESTIL PER ELS LOGIN's  */

/* LOGIN ALUMNAT (Predeterminat)  */
#seccio_0 {
    display: flex;
    background-image: url('resources/fondologin2.jpg');
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size:cover;
}

.card {
  width: 240px;
  height: 500px;
  padding: 0 15px;
  font-weight:500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: rgba(0, 0, 0, 0.568);
  border-radius: 20px;
}
.card>* {
  margin: 0;
}
.card__title {
  font-weight:600;
  font-size: 27px;
  color: #ffffff;
}
.card__content {
  font-size: 13px;
  font-weight:400;
  line-height: 18px;
  color: #8f8c8c;
}
.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 2px solid rgb(78, 78, 78);
  color: rgb(0, 0, 0);
  
}
.card__form button {
  margin-top: 7px;
  font-weight:50s0;
  font-size: 17px;
  border: 0;
  background: #249145;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}
.sign-up:hover {
  background-color: #24914598;
}
#fotologin{
  width: 300px;
  height: 200px;
  
}

/* LOGIN PROFESORAT */
#seccio_0_1 {
    display: none;
    background-image: url('resources/fondologin2.jpg');
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size:cover;
}

.card2 {
  width: 240px;
  height: 550px;
  padding: 0 15px;
  font-weight:500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: rgba(0, 0, 0, 0.568);
  border-radius: 20px;
}
.card2>* {
  margin: 0;
}
.card2__title {
  font-weight:600;
  font-size: 27px;
  color: #ffffff;
}
.card2__content {
  font-size: 13px;
  font-weight:400;
  line-height: 18px;
  color: #8f8c8c;
}
.card2__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card2__form input {
  outline: 0;
  background: rgb(252, 252, 252);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 2px solid rgb(78, 78, 78);
  color: rgb(0, 0, 0);
}
.card2__form button {
  margin-top: 12px;
  font-weight:500;
  font-size: 17px;
  border: 0;
  background: #249145;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}
.sign-up:hover {
  background-color: #24914598;
}
#textprofe{
  font-size: 13px;
  font-weight:500;
  line-height: 1px;
  color: #007db8;
  text-decoration:underline;
  cursor: pointer;
}
#textalum{
font-size: 13px;
  font-weight:500;
  line-height: 1px;
  color: #007db8;
  text-decoration:underline;
  cursor: pointer;
}



/* ESTIL DE CADA  SECCIO  */

/* SECCIO 1 (INICI)*/
#seccio_1{
    display: none;
    background-image: url('resources/fondo.png');
    background-size: cover;
    background-position: center; 
}

.welcome-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex; 
  align-items: center; 
  position: fixed;
    top: 50px; 
    left: 40px; 
}


.welcome-text, .secondary-text {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px; 
}

.secondary-text {
  color: rgb(0, 0, 0);
    font-weight: 700;
}


.contenedorinteractiu {
  display: flex;
}


.carta-box {
  width: 200px;
  height: 250px;
  position: relative;
  perspective: 1000px;
  margin: 70px; 
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
}

.carta {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
    .contenedorinteractiu {
        flex-direction: column;
        margin-top: 100px;
    }

}


/* SECCIO 2 (NORMAS) */
#seccio_2 {
  display: none;
  top: 100%;
  transform: translateY(30%);

}

.row {
  justify-content: center; /* Centra horizontalmente los elementos */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex: 1;
}

.columna {
  flex: 25%;
  max-width: 23%;
  display: flex;
  justify-content: center; /* Centra horizontalmente las imágenes */
}

.columna img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes al 100% */
}


@media screen and (max-width: 600px) {
  #seccio_2{
    top: 100%;
  transform: translateY(0%);
  }
  #ultimafotonormas{
    margin-bottom: 80px;
  }
  .columna {
      flex: 100%;
      max-width: 100%;
  }
}


/* SECCIO 3 (RANKING) */
#seccio_3{
  display: none;
    margin: 10px;
    margin-bottom: 100px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
#myChart {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  
}


/* SECCIO 4 */
#seccio_4{
    display: none;
    flex-direction: column;
    
}

.txtprofile-container{
  background-color: #1088f849; 
  padding: 20px; 
  border-radius : 20px;
  width: 70%;
}
.profile-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.profile-text, .profilesecondary-text {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px; 
}

.profilesecondary-text {
  color: rgb(0, 0, 0);
    font-weight: 700;
}

.profile-text-puntuacio-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
}

.text-punts, .textpuntsprofile {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px; 
}
.profilesecondary2-text {
  color: rgb(0, 0, 0);
    font-weight: 700;
}


/* SECCIO 5 AVALUACIO */
#seccio_5{
  display:none;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  
}

#classeeval{
    display: flex;
}  

.parrafo {
    
    display: flex;
    width: 100%; 
    height: 100%;
    box-sizing:border-box; 
   
}

.section {
    
    background-color: #ffffff;
    display: flex;
    padding: 30px;
    width: 90%;
    margin: 20px;
    border-radius: 30px;
    border: 3px solid #000000; 
   
}

.marcador{
    display:flex;
    align-items: center;
}

.number-control {
    display: flex;
    align-items:center;
    justify-content:center;
  }
  
  .number-left::before,
  .number-right::after {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .number-left::before {
    content: "-";
  }
  
  .number-right::after {
    content: "+";
  }
  
  .number-quantity {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .number-left:hover::before,
  .number-right:hover::after {
    background-color: #666666;
  }


/* PLANTILLA NOTFICACIO LOGIN CORRECTE */
#login-notify-ok{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 87, 87, 0.637); 
  justify-content: center;
  align-items: center;

}
#login-notify-ok-profes{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 87, 87, 0.637); 
  justify-content: center;
  align-items: center;

}
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
  }
  
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(65, 163, 102);
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(65, 163, 102);
  }
  
  .success-button-container {
   
    justify-content: right;
    margin-right:110px ;
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    
  }
  
  .success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #249145;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
  }

/* PLANTILLA NOTFICACIO LOGIN INCORRECTE */
#login-notify-error{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 87, 87, 0.637); 
  justify-content: center;
  align-items: center;

}

.notifications-container2{
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  align-items: center;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .failed {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(240 253 244);
    
  }
  
  .failed-svg {
    color: rgb(204, 52, 52);
    width: 1.25rem;
    height: 1.25rem;
    
  }
  
  .failed-prompt-wrap {
    margin-left: 0.75rem;
    
  }
  
  .failed-prompt-heading {
    font-weight: bold;
    color: rgb(204, 52, 52);
    margin-left: 30px;
    margin-right: 55px;
  }
  
  .failed-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(204, 52, 52);
    justify-content: center;
  align-items: center;
  }
  
  .failed-button-container {
   
    justify-content: right;
    margin-right:35px ;
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    justify-content: center;
  align-items: center;
    
  }
  
  .failed-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color:rgb(204, 52, 52);
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    justify-content: center;
    align-items: center;
  }
  
  
  
/* PLANTILLA LOADER */
#loading{
    display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.568); 
    z-index: 9999;
}
@keyframes ldio-nxt5zzdxa1-1 {
    0% { top: 36px; height: 128px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes ldio-nxt5zzdxa1-2 {
    0% { top: 41.99999999999999px; height: 116.00000000000001px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes ldio-nxt5zzdxa1-3 {
    0% { top: 48px; height: 104px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  .ldio-nxt5zzdxa1 div { position: absolute; width: 30px }.ldio-nxt5zzdxa1 div:nth-child(1) {
    left: 35px;
    background: #1d3f72;
    animation: ldio-nxt5zzdxa1-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
  }
  .ldio-nxt5zzdxa1 div:nth-child(2) {
    left: 85px;
    background: #1d3f72;
    animation: ldio-nxt5zzdxa1-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
  }
  .ldio-nxt5zzdxa1 div:nth-child(3) {
    left: 135px;
    background: #1d3f72;
    animation: ldio-nxt5zzdxa1-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
  }
  
  .loadingio-spinner-pulse-t1q80hntfj {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
  }
  .ldio-nxt5zzdxa1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; 
  }
  .ldio-nxt5zzdxa1 div { box-sizing: content-box; }